* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul.nav {
    background-color: rgb(100, 100, 243);
    list-style-type: none;
    padding: 1rem;
    text-align: center;

    display: flex;

    /*elemanların diziliş yönü*/
    flex-direction: row; /* default row dur*/


    gap: 1rem 4rem; /*satirlar arası boşluk satır-sütun*/

    flex-wrap: wrap;/*sıkıştırma yada alt satira geçiş özelliği*/ 

    justify-content: center;/*yatay hizalama*/

    align-items: center;/*dikey hizalama*/

    align-content: flex-end;/*çok satırlı verilerin dikeyde hizalanması*/
    
}


ul.nav li {
    background-color: rgb(237, 179, 138);
    width: 7rem;
    padding: 0.5rem;
    border-radius: 5px;
    

}