* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(227, 182, 250);
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.img {
    flex: 1;
}

.text {
    flex: 2;
    flex-basis: 300px;
}
section.img img {
    width: 100%;
min-height: 300px;
}

section.text h1, p {
    line-height: 2;
}